@CHARSET "UTF-8";

/* Décoration des formulaires*/
.contenu form {
	border-radius : 1em;
	background-color : rgba(255, 186, 0, 0.8);/* rgba(0, 35, 52, 0.8); */
	padding : 2em;
	/* width : 35em; */
	overflow : auto;
	/*width : 70%;*/
	min-width	: 500px;
	max-width	: 90%;
	display : inline-block;
}

/** Formulaire "en ligne" ie contenus dans un tableau etc... **/
.contenu form.inline {
	min-width	: 100px;
	background-color : transparent;
	padding			: 0.5em 1em;
}

/* Décoration des Champs (paragraphes entourant chaque input+label) */
.contenu form p.champ {
	float : left;
	width : 98%;
	clear : both;
	padding : 5px;
	margin : 0;
	margin-bottom : 0.8em;
	border-radius : 4px;
	background : rgba(240,240,240, 0.3);
}

/* Placement des inputs*/
.contenu form p.champ input, p.champ textarea, p.champ select {
	float : right;
	clear : right;
	padding : 1px;
}

/* Placement des labels */
.contenu form p.champ label {
	float : left;
}

.contenu form p.champ.radio label:not(:first-child) {
	float : right;
	margin : 0 5px;
	padding : 1px;
}

/* fix for webkit */
.contenu form .champ label input[type=radio] {
	float : none;
	width : 13px;
}

/* Décoration des inputs */
.contenu form input[type=text], .contenu form input[type=password], .contenu form textarea {
	border-radius : 4px;
	padding 	  : 2px 5px;
	border		  : 1px solid #002334;
	
	transition			: all 200ms;
	-moz-transition		: all 200ms;
	-webkit-transition	: all 200ms;
	-o-transition		: all 200ms;
}

.contenu form input[type=text]:hover, .contenu form input[type=password]:hover, .contenu form textarea:hover {
	background-color	: rgb(22, 77, 109);
	background			: white -moz-linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	background			: white -webkit-linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	background			: white -o-linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	background			: white -ms-linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	background			: white linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	color	   			: white;
}

/* Augmentation de la taille pour les email */
.contenu form input[name=email] {
	width	: 20em;
}

/* Augmentation de la taille des textarea */
.contenu form textarea {
	min-width	: 20em;
	min-height	: 8em;
}

/* Décoration du bouton submit */
.contenu form input[type=submit] {
	font-size  : 1.3em;
	cursor		: pointer;
	border		: 1px solid #002334;
	border-radius	: 5px;
	margin-top	: 0px;	
}

.contenu form > input[type=submit] {
	margin-top : 5px;
	float		: right;
}

.contenu form input[type=submit]:hover {
	background-color	: rgb(22, 77, 109);
	background			: white -moz-linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	background			: white -webkit-linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	background			: white -o-linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	background			: white -ms-linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	background			: white linear-gradient(top center, rgba(22, 77, 109, 0.82) 0%, rgba(22, 77, 109, 0.92) 100%) no-repeat;
	color	   			: white;
}

/* Décoration des erreurs */

form span.error {
	font-weight : 500;
	color 		: red;
	font-size	: 1.1em;
	white-space	: nowrap;
	padding		: 2px 1em;
	float  		: right;
	border		: none !important;
	clear		: right;
}

form .error {
	color 		: red !important;
	border		: 1.3px solid red !important;
}

/* Mentions légales */

form .mentions-legales {
	text-align : center;
	width : 100%;
	border : 1px solid red;
}

form .mentions-legales a {
	width : 100%;
	display : block;
}