/*
	****************************************************************************************************************
	****************************************************************************************************************
	************************************ "VISUEL" DES ELEMENTS PRINCIPAUX ******************************************
	****************************************************************************************************************
	****************************************************************************************************************
*/
body {
	background-color: rgb(230, 230, 230);
	background-image : url(../images/casert_interieur.jpg);
	background-repeat	: no-repeat;
	background-size		 : 100% 100%;
	background-attachment : fixed;
	font-family: arial, "Bitstream Vera Sans", sans-serif;
	font-size: 8pt;
	color: #31313b;
}

#bandeau {
	background : #002334;
	background : rgba(0, 35, 52, 0.95);
}

#app-menus-wrapper {
	background: #002334;
	background-color:rgba(0, 35, 52, 0.95);
	font-size: 1.35em;
}

#page-wrapper {
	background-color: #fff;
	background-color : rgba(255,255,255,0.9);
}

#footer {
	background: #164d6d;
	color: #fff;
}

/*
	****************************************************************************************************************
	****************************************************************************************************************
	************************************ PLACEMENT DES ELEMENTS PRINCIPAUX *****************************************
	****************************************************************************************************************
	****************************************************************************************************************
*/

/*
	****************************************************************************************************************
	**************************************************** GENERAL ***************************************************
	****************************************************************************************************************
*/

body {
	line-height: 1.2;
	margin: 0;
	padding: 0;
	margin: 0 5em 2em 5em;
	position : relative;
	min-width : 900px;
}

/* ****************************************************************************************************************
   ************************************************ BANDEAU DU HAUT ***********************************************
   *****************************************************************************************************************/
#bandeau {
	height: 150px;
	width: 100%;
}

#titre {
	margin : 0;
	padding-top : 2em;
	padding-left : 5%;
}

#titre > a {
	text-decoration : none;
	color : white;	
}

/** logo **/
#logo {
	position: absolute;
	top: 2em;
	right: 5%;
	height: 60px;
	width: 240px;
	background-color: rgba(256, 256, 256, 0.8);
	border-radius: 1px;
}

#logo a {
	height	: 100%;
	width	: 98%;
	margin  : 0 1%;
	background-image:url("../images/logoecoleclair.png");
	background-repeat: no-repeat;
	background-position : center center;
	display: block;
}

#logo a:focus {
	background-color: transparent !important;
}

#accroche {
	color: #ffffff;
	font-size: 1.5em;
	font-weight : 100;
	position: absolute;
	top: 100px;
	left: 150px;
}

/*	*******************************************************************************************
	*************************************** MESSAGES ******************************************
	********************************************************************************************/
#messages {
	
}

/*	*******************************************************************************************
	***************************************** MENU ********************************************
	********************************************************************************************/
/** position absolute pour remplir le trou entre la fin du menu et le footer **/
#app-menus-wrapper {
	position : absolute;
	top : 150px;
	bottom : 0;
	float: left;
	width: 19em;
	display : inline-block;
}

/*
	****************************************************************************************
	****************************** PAGE DE CONTENU *****************************************
	****************************************************************************************
*/
/* pas de position absolute, cette div est responsable de la taille du parent */
#page-wrapper {
	min-height: 500px;
	padding : 1em 2em;
	margin: 0 0 0 25.7em;
	border-right : 1px solid;
}

#page-wrapper .contenu {
	text-align: justify;
	line-height: 1.7em;
	overflow : auto;
	max-width : 900px;
}

/*  *******************************************************************************************
	************************************** PIED DE PAGE ***************************************
	********************************************************************************************/

/** positionnement **/
#footer {
	position : relative;
	height : 1.2em;
	width: 100%;
	line-height : 1em;
	font-size: 1.3em;
	z-index : 20;
	padding : 0.2em 0;
}

#footer-left {
	float : left;
}

/** gestion des liens (décoration) **/
#footer ul {
	font-size : 1em;
	clear: both;
	margin : 0 1em;
	vertical-align : middle;
}

#footer li {
	display: inline;
}

#footer li * {
	font-size	: 1em;
	line-height : 1em;
	vertical-align: middle;
}

#footer a:hover {
	text-decoration: underline;
}

#footer * {
	color: #fff;
	text-decoration: none;
}

/*
	****************************************************************************************************************
	****************************************************************************************************************
	**************************************************** DIVERS ****************************************************
	****************************************************************************************************************
	****************************************************************************************************************
*/

/** id de la page - sert pour la coloration du menu **/
span#page_id {
	visibility : hidden;
	display : none;
}

.clearfloat {
	clear : both;
	padding-bottom : 5px;
	height : 0;
	content : ".";
}

/** page non-trouvée **/
.page404 {
	background-color : red;
	font-size : 1.4em;
	text-align : center;
}

/** Champ pre **/
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}