/*
	****************************************************************************************************************
	****************************************************************************************************************
	****************************************** GESTION DES MESSAGES ************************************************
	****************************************************************************************************************
	****************************************************************************************************************
*/

.messages {
	width	: 100%;
}

.message {
	padding : 8px 15px;
	margin  : 5px 3px;
	border : 1px solid black;
	font-size : 1.2em;
}

.message.ok {
	background-color : rgba(248, 255, 240, 1);
	color : rgba(35, 70, 0, 1);
	border-color : rgba(187, 238, 119, 1);
	box-shadow   : 0px 0px 2px 1px rgba(187, 238, 119, 0.8);
	font-size    : 1.7em;
}

.message.warning {
	background-color : rgba(255, 252, 229, 1);
	color : rgba(136, 68, 0, 1);
	border-color : rgba(238, 221, 85, 1);
}

.message.error {
	background-color : rgba(254, 245, 241, 1);
	color : rgba(140, 46, 11, 1);
	border-color : rgba(237, 84, 29, 1);
}

/** message dans les dialogues jquery **/
.ok.ui-dialog-content, .error.ui-dialog-content, .warning.ui-dialog-content {
	font-size : 1.5em;
}