/*  ****************************************************************************************************************
	****************************************************************************************************************
	*******************************************FORMATTAGE DES TABLES************************************************
	****************************************************************************************************************
	**************************************************************************************************************** */

table {
	border-collapse : collapse;
	border			: 1.8px solid black;
	border-radius	: 3px;
}
table thead {
	border-bottom	: 1.3px solid black;
}
table td, table th {
	text-align : center;
	padding		: 2px 3px;
}

table td * {
	display		: inline-block;
}

table th {
	font-size : 1.2em;
}