/*  ****************************************************************************************************************
	****************************************************************************************************************
	*******************************************FORMATTAGE DU TEXTE**************************************************
	****************************************************************************************************************
	**************************************************************************************************************** */

/************************		Titres		************************/
h1 {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 2em;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
}

h2 {
	font-size	: 2.6em;
	line-height	: 1.3em;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande",
		Arial, sans-serif;
	font-weight: 500;
	margin: 3px 0;
}

h3 {
	font-size: 1.8em;
	font-weight : 400;
	margin: 1em 0;
	margin-left : 1em;
/* 	text-transform : uppercase; */
	font-variant	: small-caps;
	color : #164D6D;
}

h4 {
	font-size: 1.4em;
	margin		: 1em 0 0.5em 0.2em;
}

h3+div {
	margin-left : 1em;
}
/************************		Listes		************************/
:not(.contenu) ol,ul {
	list-style: none;
}

ul,ol,li {
	margin: 0;
	padding: 0;
}

ol {
	list-style-type: decimal;
	background: none;
	padding-left: 0;
}

ol {
	margin-left: 1.5em;
}

.contenu ul li {
	line-height: 1.5em;
}

.contenu ul li a {
	font-size: 1em;
}

.content div.indent {
	margin-left : 1em;
}
/************************		Liens		************************/
.contenu a:link {
	color: #2896d5;
}

/* .contenu a:focus { */
/* 	background-color: #666; */
/* 	background-image: none; */
/* 	color: #fff !important; */
/* 	text-decoration: none; */
/* } */


/************************		Paragraphes, texte général		************************/
.contenu p, ul, a {
	font-size	: 1.35em;
}

.contenu p {
	margin			: 0.5em 0 0.9em 0;
	letter-spacing  : 0.2px;
}

.contenu p>a {
	font-size	: 1.1em;
}

.contenu .emph {
	font-weight : 600;
}

.contenu .emph-emph {
	color	: red;
	font-weight	: 500;
}

/* boutons d'actions */
a.action {
	margin : 0 0.5em;
	padding : 2px 4px;
	border-radius : 3px;
	background : #164d6d;
}

a.action, a.action:visited {
	color		: white !important;
	text-decoration : none;
}

.contenu ul {
	list-style	: disc outside none;
	margin		: 1em 0;
	padding-left	: 1em;
	margin-left		: 1em;
}
