@CHARSET "UTF-8";

/* Décoration des formulaires*/
form {
	border-radius : 1em;
	background-color : rgba(255, 186, 0, 0.8);/* rgba(0, 35, 52, 0.8); */
	padding : 2em;
	/* width : 35em; */
	overflow : auto;
	width : 70%;
	min-width	: 500px;
	max-width	: 1000px;
	display : inline-block;
}

form p.champ {
	float : left;
	width : 98%;
	clear : both;
	padding-top : 10px;
	padding-bottom : 1em;
	margin : 0;
}

p.champ input, p.champ textarea, p.champ select {
	float : right;
	clear : right;
}

p.champ.radio label:not(:first-child) {
	float : right;
	margin : 0 5px;
}

p.champ label {
	float : left;
}

form input[type=text], form input[type=password], form textarea {
	border-radius : 4px;
}

form > input[type=submit] {
	float : right;
	margin-top : 5px;
}