@CHARSET "UTF-8";

div.img_left, div.img_right {
	max-width	: 47%;
	margin		: 1%;
}

/* texte et images cote à cote*/
div.img_left {
	float : right;
}

div.img_right {
	float : left;
}

img.img_left, img.img_right {
	max-width	: 49%;
}

img.img_left {
	float : left;
}

img.img_right {
	float : right;
}

img {
	box-shadow : 0 0 5px 1px black;
	border-radius : 3px;
} 