/*
	****************************************************************************************************************
	****************************************************************************************************************
	**************************************************** MENU ******************************************************
	****************************************************************************************************************
	****************************************************************************************************************
*/


/* Gestion du menu*/
div.menu {
	background: #002334;
	float: left;
	font-size: 1.35em;
	padding: 0 0 3px 0;
	width: 19em;
	min-height: 300px;
	z-index: 20;
}

div.menu ul {
	background: #164d6d;
	font-weight: 700;
	padding-top: 10px;
	font-size	: 0.9em;
}

div.menu a {
	text-decoration: none;
}

/* div#page {
	font-size: 1.1em;
	margin: 0 5em;
} */

ul#menu_principal ul {
	list-style: none;
	background: #ffba00;
	border-left: 6px solid #c2960c;
	font-size: 0.7em;
	font-size: 11px;
}

ul#menu_principal a {
	border-bottom: 1px dashed #17758a;
	color: #fff;
	display: block;
	padding: 0.4em 20px 0.4em 15px;
}

ul#menu_principal a:hover,ul#menu_principal em a {
	color: #002334;
	background-color: #ffba00;
}

/* gestion des liens actif */
/* niveau 1 et 2*/
ul#menu_principal li.active, ul#menu_principal li.active li.active {
	background-color : white;
}

ul#menu_principal li.active>a, ul#menu_principal li.active ul li.active>a {
	color : #002334;
}

/*niveau 2*/
ul#menu_principal li.active ul {
	display : block;
}

/* gestion des sous-menus */
div.menu ul li ul {
	display	: none;
}

/* div#navigation ul li:hover ul {
	display : block;
} */
