/*
	****************************************************************************************************************
	****************************************************************************************************************
	*******************************************FORMATTAGE DU TEXTE**************************************************
	****************************************************************************************************************
	****************************************************************************************************************
*/
ol,ul {
	list-style: none;
}

ul,ol,li {
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
	background: none;
	padding-left: 0;
}

ol {
	margin-left: 1.5em;
}

a {
	color: #2896d5;
	text-decoration: underline;
}

a:focus {
	background-color: #666;
	background-image: none;
	color: #fff !important;
	text-decoration: none;
}

h2 {
	font-size	: 2.3em;
}

p, ul, a {
	font-size	: 1.3em;
}

p>a {
	font-size	: 1.1em;
}
