<p>Les informations recueillies par l’Ecole Polytechnique font
	l’objet d’un traitement informatique destiné à proposer et réserver un
	hébergement pour les candidats admis aux épreuves orales du concours
	d’admission de l’Ecole. Les données collectées ne sont pas conservées
	au-delà de la date de publication du résultat du concours.</p>
	
<p>Conformément à la loi “Informatique et Libertés”, vous bénéficiez
	d’un droit d’accès et de rectification aux informations qui vous
	concernent. Si vous souhaitez exercer ce droit et obtenir communication
	des informations vous concernant, veuillez adresser votre demande par
	écrit à : Ecole Polytechnique - DCA – Directeur du concours d’admission
	– Route de Saclay – 91128 Palaiseau Cedex</p>