<li id="4"><a href="/administration/gestion">Administration</a>
	<ul>
		<li id="41"><a href="/administration/gestion?action=series">Modifier les séries d'admissibilités (dates d'ouverture du site)</a></li>
		<li id="42"><a href="/administration/gestion?action=param">Modifier les promotions présentes sur le platal</a></li>
		<li id="43"><a href="/administration/gestion?action=param">Modifier les établissements de provenance des élèves</a></li>
		<li id="44"><a href="/administration/gestion?action=param">Modifier les filières d'entrée des élèves</a></li>
		<li id="45"><a href="/administration/gestion?action=param">Modifier les sections sportives des élèves</a></li>
		<li id="46"><a href="/administration/gestion?action=admissibles">Entrer la liste des admissibles pour la prochaine série</a></li>
		<li id="47"><a href="/administration/gestion?action=hotel">Modifier la liste des hèbergements à proximitè de l'école</a></li>
		<li id="48"><a href="/administration/gestion?action=deconnect">Se déconnecter</a></li>
		<li id="49"><a href="/administration/gestion?action=RAZ">Remise à zéro de l'interface d'hébergement</a></li>
	</ul>
</li>