<!--  template pour le pied de page -->
<div id="footer">
    <!-- <ul id="actions">
        <li><span id="imprimer">imprimer</span> |</li>
        <li><a href="#page" id="haut_page">haut de la page</a> |</li>
        <li><a href="http://www.polytechnique.edu/accueil/rss/">RSS</a></li>
    </ul>
    <ul id="liens">
        <li><a
            href="https://www.polytechnique.edu/servlet/com.jsbsoft.jtf.core.SG?PROC=IDENTIFICATION_FRONT&amp;ACTION=CONNECTER&amp;RH=ACCUEIL-FR">Connexion</a>
            |</li>
        <li><a
            href="https://www.polytechnique.edu/servlet/com.jsbsoft.jtf.core.SG?PROC=IDENTIFICATION_FRONT&amp;ACTION=DECONNECTER&amp;RH=ACCUEIL-FR">Déconnexion</a>
            |</li>
        <li><a href="http://intranet.polytechnique.fr/">Intranet </a> |</li>
        <li><a href="https://enex.polytechnique.fr/">EneX</a> |</li>
        <li><a
            href="http://www.polytechnique.edu/accueil/liens-pied-de-page/geide/">GEIDE</a>
        </li>
    </ul> -->
    <ul id="footer-left">
        <li><a
            href="/mentions-legales">Mentions légales</a> |</li>
        <li><a
            href="/contacts">Contacts</a>
            |</li>
        <li><a
            href="http://www.polytechnique.edu/accueil/bas-de-page/plan-d-acces/">Plan d'accès</a></li>
<!--         <li><a -->
<!--             href="http://www.polytechnique.edu/accueil/bas-de-page/plan-du-site/">Plan du site</a></li> -->
    </ul>
</div>